/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto;
}
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #ffff;
  box-shadow: #ffff;;
}

::-webkit-scrollbar-thumb {
  background: #ffff;
  border-radius: 10px;
}